In [1]:
import pandas as pd
import numpy as np

In [4]:
not_hot_songs = pd.read_excel('top_2000_2023.xlsx')

In [6]:
not_hot_songs.columns = ['position', 'title', 'artist', 'year']

In [14]:
not_hot_songs.head(5)

   position              title      artist  year
0         1  Bohemian Rhapsody       Queen  1975
1         2     Roller Coaster  Danny Vera  2019
2         3   Hotel California      Eagles  1977
3         4          Piano Man  Billy Joel  1973
4         5            Fix You    Coldplay  2005

In [18]:
not_hot_songs = not_hot_songs[['title', 'artist']]
not_hot_songs = not_hot_songs[['artist', 'title']]
not_hot_songs.head(5)

       artist              title
0       Queen  Bohemian Rhapsody
1  Danny Vera     Roller Coaster
2      Eagles   Hotel California
3  Billy Joel          Piano Man
4    Coldplay            Fix You

In [12]:
hot_songs = pd.read_csv('../../Morning/lab-web-scraping-single-page/billboard_top100.csv')

In [19]:
hot_songs.drop(columns='Unnamed: 0', inplace=True)

In [20]:
hot_songs

                                    artist                              title
0                               Brenda Lee  Rockin' Around The Christmas Tree
1                             Mariah Carey    All I Want For Christmas Is You
2                              Bobby Helms                   Jingle Bell Rock
3                                    Wham!                     Last Christmas
4                                Burl Ives            A Holly Jolly Christmas
..                                     ...                                ...
95            Grupo Frontera & Grupo Firme                 El Amor de Su Vida
96                               Jung Kook               Standing Next To You
97     Morgan Wallen Featuring Eric Church                     Man Made A Bar
98  Calle 24 x Chino Pacas x Fuerza Regida                           Que Onda
99                                Rod Wave                       Great Gatsby

[100 rows x 2 columns]

In [25]:
# Find rows present in both DataFrames
merged = not_hot_songs.merge(hot_songs, indicator=True, how='left')
rows_in_both = merged[merged['_merge'] == 'both']
display(rows_in_both)

# Remove rows present in both DataFrames from df2
not_hot_songs_final = not_hot_songs[~not_hot_songs.isin(rows_in_both.to_dict('list')).all(1)]

                       artist                            title _merge
256                     Wham!                   Last Christmas   both
757              Mariah Carey  All I Want For Christmas Is You   both
1597              Teddy Swims                     Lose Control   both
1845             Taylor Swift                     Cruel Summer   both
1903  Ed Sheeran & Elton John                  Merry Christmas   both

In [27]:
not_hot_songs_final.to_csv('not_hot_songs.csv')